################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SpamHam/packages
/.vs
/SpamHam/.vs/SpamHam/v15
/SpamHam/SpamHam/bin/Debug
/SpamHam/SpamHam/obj/Debug
/SpamHam/SpamHam.UnitTest/bin/Debug
/SpamHam/SpamHam.UnitTest/obj/Debug
/SpamHam/SpamHam/bin/Release
/SpamHam/SpamHam/obj/Release
/SpamHam/SpamHam.UnitTest/bin/Release
/SpamHam/SpamHam.UnitTest/obj/Release
/Finance/Finance/bin/Debug
/Finance/Finance/obj/Debug
/Finance/Finance/bin/Release
/Finance/Finance/obj/Release
/Finance/ConsoleApp/bin/Release
/Finance/ConsoleApp/obj/Release
